<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
		<grant name="list" default="guest">
			<title xml:lang="ko">목록</title>
			<title xml:lang="en">List</title>
		</grant>
		<grant name="view" default="guest">
			<title xml:lang="ko">열람</title>
			<title xml:lang="en">View</title>
		</grant>
		<grant name="upload" default="member">
			<title xml:lang="ko">스티커 등록</title>
			<title xml:lang="en">Upload stickers</title>
		</grant>
		<grant name="buy" default="member">
			<title xml:lang="ko">구매 권한</title>
			<title xml:lang="en">Purchase stickers</title>
		</grant>
		<grant name="free" default="manager">
			<title xml:lang="ko">무료 구입</title>
			<title xml:lang="en">Purchase for free</title>
		</grant>
	</grants>
	<classes>
		<class type="default" name="Controllers\Base" />
		<class type="install" name="Controllers\Install" />
	</classes>
	<actions>
		<action name="getCommentStickerList" class="Models\Sticker" permission="guest" />
		<action name="getStickerPickerList" class="Models\Sticker" permission="guest" />
		<action name="getStickerElemList" class="Models\Sticker" permission="guest" />
		<action name="resolveStickers" class="Models\Sticker" permission="guest" />

		<action name="dispStickerList" class="Controllers\Display" permission="list" index="true">
			<route route="$sticker_srl:int" priority="100" />
			<route route="page/$page:int" priority="10" />
		</action>
		<action name="dispStickerWrite" class="Controllers\Display" permission="upload" meta-noindex="true">
			<route route="write" />
			<route route="$sticker_srl:int/edit" />
		</action>
		<action name="dispStickerDelete" class="Controllers\Display" permission="member" route="$sticker_srl:int/delete" meta-noindex="true" />
		<action name="dispStickerMylist" class="Controllers\Display" permission="member" route="mylist" meta-noindex="true" />
		<action name="dispStickerMyBlock" class="Controllers\Display" permission="member" route="myblock" meta-noindex="true" />

		<action name="procStickerInsert" class="Controllers\Sticker" permission="upload" />
		<action name="procStickerCommentInsert" class="Controllers\Sticker" permission="member" />
		<action name="procStickerDelete" class="Controllers\Sticker" permission="member" />
		<action name="procStickerFileDelete" class="Controllers\Sticker" permission="member" />
		<action name="procStickerBuy" class="Controllers\Sticker" permission="buy" />
		<action name="procStickerBuyDelete" class="Controllers\Sticker" permission="member" />
		<action name="procStickerBuyOrderChange" class="Controllers\Sticker" permission="member" />
		<action name="procStickerGetStickerSrl" class="Controllers\Sticker" permission="guest" />
		<action name="procStickerBlockInsert" class="Controllers\Sticker" permission="member" />
		<action name="procStickerBlockDelete" class="Controllers\Sticker" permission="member" />
		<action name="procStickerPublish" class="Controllers\Sticker" permission="manager" />

		<action name="dispStickerAdminStickerList" class="Controllers\AdminDisplay" permission="root" admin_index="true" />
		<action name="dispStickerAdminStickerView" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminBuyList" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminBuyInfo" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminConfig" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminCategoryInfo" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminGrantInfo" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminLogList" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminLogInfo" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminGifConversionLog" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminDesign" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminSkinInfo" class="Controllers\AdminDisplay" permission="root" />
		<action name="dispStickerAdminMobileSkinInfo" class="Controllers\AdminDisplay" permission="root" />

		<action name="procStickerAdminConfig" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminMigrateGifToMp4" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminRetryGifConversion" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminDesign" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminUpdate" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminDelete" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminBuyUpdate" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminBuyDelete" class="Controllers\Admin" permission="root" />
		<action name="procStickerAdminLogClear" class="Controllers\Admin" permission="root" />
	</actions>
	<eventHandlers>
		<eventHandler after="member.deleteMember" class="Controllers\EventHandlers" method="triggerDeleteMember" />
		<eventHandler after="member.getMemberMenu" class="Controllers\EventHandlers" method="triggerMemberMenu" />
		<eventHandler before="document.insertDocument" class="Controllers\EventHandlers" method="triggerBeforeInsertDocument" />
		<eventHandler after="document.insertDocument" class="Controllers\EventHandlers" method="triggerAfterInsertDocument" />
		<eventHandler before="document.updateDocument" class="Controllers\EventHandlers" method="triggerBeforeUpdateDocument" />
		<eventHandler after="document.updateDocument" class="Controllers\EventHandlers" method="triggerAfterUpdateDocument" />
		<eventHandler before="comment.insertComment" class="Controllers\EventHandlers" method="triggerBeforeInsertComment" />
		<eventHandler before="comment.updateComment" class="Controllers\EventHandlers" method="triggerBeforeUpdateComment" />
		<eventHandler before="moduleHandler.init" class="Controllers\EventHandlers" method="triggerBeforeModuleInit" />
		<eventHandler before="display" class="Controllers\EventHandlers" method="triggerBeforeDisplay" />
		<eventHandler before="ncenterlite._insertNotify" class="Controllers\EventHandlers" method="beforeInsertNotify" />
	</eventHandlers>
	<menus>
		<menu name="sticker" type="all">
			<title xml:lang="ko">스티커</title>
			<title xml:lang="en">Sticker</title>
		</menu>
	</menus>
</module>
